values.yml
terraform.tfvars*
kubeconfig_*
consul.yml
vault.yml
!kubernetes/vault.yml
id_rsa
backend.tf

kubernetes/terraform.auto.tfvars
vault/terraform.auto.tfvars
database-service/terraform.auto.tfvars

certs/connect
certs/server
certs/gateway
certs/new_config.json
certs/vault_token.json

consul/cts/sync-tasks
consul/cts/terraform

secrets/

__pycache__

plan.json