values.yml
terraform.tfvars*
kubeconfig_*
consul.yml
vault.yml
!kubernetes/vault.yml
id_rsa

kubernetes/terraform.auto.tfvars
vault/terraform.auto.tfvars
database-service/terraform.auto.tfvars
bootstrap/terraform.auto.tfvars

certs/connect
certs/server
certs/gateway
certs/new_config.json

consul/cts/sync-tasks
consul/cts/terraform

!*/backend.tf
!*/*/backend.tf

secrets
id_rsa.pem
